
$base-color: #00303F;
$base-color-darker-1: #012531;
$text-color: #CAE4DB;
$primary-color: #CDAC81;
$primary-color-hover: #ac8e68;



.bgc-primary{
    background-color: $primary-color !important;
}
